#field {
        display: grid;
        grid-template-columns: repeat(8, 50px);
        grid-template-rows: repeat(8, 50px);
        counter-reset: numRight 9;
        margin-top: 10%;
        border: 1px solid grey;
    }
    body {
        counter-reset: numLeft 9;
        font-family: Verdana;
        color: grey;
        display: flex;
        align-items: center;
    }
    .afterNum:after {
        counter-increment: numRight -1;
        content: counter(numRight);
        position: relative;
        left: 60px;
        top: 15px;
    }
    .beforeNum:after {
        counter-increment: numLeft -1;
        content: counter(numLeft);
        position: relative;
        right: 20px;
        top: 15px;
    }
    .anotherField {
        counter-reset: letterUp 1;
        border: 1px solid grey;
        display: inline-block;
        padding: 30px;
        padding-top: 0;
        margin-top: 40px;
    }
    .andAnotherField {
        counter-reset: letterBot 1;
        display: inline-block;
        margin: auto;
    }
    .letterTop:after {
        counter-increment: letterUp;
        content: counter(letterUp, upper-alpha);
        position: relative;
        bottom: 25px;
        left: 20px;
    }
    .letterBottom:before {
        counter-increment: letterBot;
        content: counter(letterBot, upper-alpha);
        position: relative;
        left: 20px;
        top: 60px;
    }
    .chessCoub:nth-child(57):before {
        content: 'A';
        position: relative;
        top: 60px;
        left: 20px;
    }
    .chessCoub:nth-child(64):before {
        content: 'H';
        position: relative;
        top: 60px;
        left: 20px;
    }
    .chessCoub:first-child:before {
        content: 'A';
        position: relative;
        top: -25px;
        left: 20px;
    }
    .chessCoub:nth-child(8):before {
        content: 'H';
        position: relative;
        top: -25px;
        left: 20px;
    }
    /*поправить отъехавшие номера*/
    .chessCoub:nth-child(8):after,
    .chessCoub:nth-child(64):after {
        position: relative;
        left: 48px;
    }
    .chessCoub:nth-child(1):after,
    .chessCoub:nth-child(57):after {
        position: relative;
        left: -30px;
    }